extends ../layout/index
block contenido
    div.py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Find  
            span.font-normal Jon
        h2.text-center.text-2xl.font-extrabold= pagina
        div.mt-8.mx-auto.max-w-md 
            div.bg-white.py-8.px-4.shadow
             form.space-y-5
               
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Your Email" type="email" name="email")    
                div(class="flex items-center justify-between")
                    a.text-gray-500.text-xs(href="/user/register") Dont haven't account ? Create one
                    a.text-gray-500.text-xs(href="/user/login") Do you have account? Login
               
                input(class ="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Send email") 