extends ../layout/index
block contenido
    div.py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Find  
            span.font-normal Job
        h2.text-center.text-2xl.font-extrabold= pagina
             img(src="", alt="logo")
        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p(class="bg-red-600 text-white uppercase text-xs text-center p-2 mb-1 font-bold")= error.msg

        div.mt-8.mx-auto.max-w-md 
            div.bg-white.py-8.px-4.shadow
             form.space-y-5(method="POST" action="/auth/register")
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Your Name
                    input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Your Name" type="text" name="name" value=user ? user.name:'')
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Your Email" type="email" name="email" value=user ? user.email:'')    
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") password
                    input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Your password" type="password" name="password")    
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repit_password") Password again
                    input#repit_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Password again" type="password" name="repit_password")   
                
                
                div(class="flex items-center justify-between")
                    a.text-gray-500.text-xs(href="/auth/login") Do you have account? Login
                    a.text-gray-500.text-xs(href="/auth/change-password") You forgot you password
                
                input(class ="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Create account") 