header.bg-blue-600.py-4 
    .container.mx-auto.flex.justify-between.items-center 
        a(href="/")     
            h1.text-2xl.text-white.font-extrabold.text-center.text-white.flex.aligment-items Jobs 
            img(src="/img/lupa.png", alt="logo", class="w-12 h-12")
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(href="/my-jobs") My Jobs
            a(href="") My Profile
            form(method="POST" action="auth/logout") 
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="submit" class="bg-blue-800 py-2 px-10 rounded-lg cursor-pointer" value="Logout")

