header.bg-blue-600.py-4 
    .container.mx-auto.flex.justify-between.items-center 
         a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center Find 
                span.font-normal Job
         
         if !userInSession
            nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
                a(href="/auth/register") Create account
                a(href="/auth/login") Login
         else
            nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
                a(href="/my-jobs") My jobs
                form(method="POST" action="auth/logout") 
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="submit" class="bg-blue-800 py-2 px-10 rounded-lg cursor-pointer" value="Logout")


            
    div(class="bf-blue-700 py-5 hidden lg:block")
       div(class="container mx-auto flex justify-between")
            nav(class="flex gap-4 items-center")
                a(href="/categorys/1" class="text-sm font-bold uppercase text-white") Java
                a(href="/categorys/2" class="text-sm font-bold uppercase text-white") Angular
                a(href="/categorys/3" class="text-sm font-bold uppercase text-white") PHP
            
            form(action="/search" method="POST" class="flex gap-3 items-center") 
                input(type="hidden" name="_csrf" value=csrfToken) 
                label(for="termino" class="text-sm uppercase font-bold text-white") Search 
                input(type="text" id="termino" name="termino" placeholder="Search jobs" class="p-2 rounded-lg shadow text-sm" )
                input(type="submit" class="bg-blue-800 hover:bg-blue-400 rounded-lg text-white uppercase font-bold p-2 cursor-pointer text-sm" value="Search")

            
    